name: Terraform - Apply
on:
  push:
    branches:
      - main
env:
  FORCE_COLOR: "1"

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      actions: "read"
      id-token: "write"
    outputs:
      changed_stacks: ${{ steps.set-output.outputs.changed_stacks }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          echo $PWD
          git config --global --add safe.directory $PWD
      - name: Terraform get changed stacks
        run: |
          export PYTHONPATH=$PWD
          python ci/detect_changed_stacks.py
          echo "Changed stacks from script: $CHANGED_STACKS"
        env:
          TERM: xterm-256color
          PYTHONUNBUFFERED: 1
      - name: Set output
        id: set-output
        run: |
          echo "changed_stacks=$CHANGED_STACKS" >> $GITHUB_OUTPUT

  terraform-up:
    needs: detect-changes
    runs-on: ubuntu-latest
    container:
      image: hashicorp/terraform:1.7.5
    # Only run if there are changed stacks
    if: ${{ needs.detect-changes.outputs.changed_stacks != '[]' }}
    strategy:
      matrix:
        stack: ${{ fromJson(needs.detect-changes.outputs.changed_stacks) }}
    permissions:
      contents: "read"
      actions: "read"
      id-token: "write"
    continue-on-error: true
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Authenticate to GCP
        uses: google-github-actions/auth@v3
        with:
          service_account: ${{ vars.SERVICE_ACCOUNT_NAME }}@${{ vars.PROJECT_ID }}.iam.gserviceaccount.com
          workload_identity_provider: ${{ vars.WORKLOAD_IDENTITY_PROVIDER }}
      - name: Install dependencies
        run: |
          apk add --no-cache python3 py3-pip
      - name: Terraform Apply
        run: |
          export PYTHONPATH=$PWD
          python ci/terraform_operation.py ${{ matrix.stack }} apply
        env:
          PYTHONUNBUFFERED: 1
          TERM: xterm-256color
